<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

<!--    <listeners>-->
<!--        <listener class-name="org.testng.ITestNGListener" />-->
<!--    </listeners>-->

    <test name="Test OnBoarding" >
        <classes>
            <class name="TestNGRunner.runOnboarding" />
<!--            <class name="TestNGRunner.runHomeScreen" />-->
        </classes>
    </test>
    <test name="Test homescreen">
        <classes>
            <class  name="TestNGRunner.runHomeScreen"/>
        </classes>
    </test>


</suite>